<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BaseUrl</key>
	<string>https://example.com/api/</string>
	<key>EndPoints</key>
	<dict>
		<key>GetInfectedKeys</key>
		<string>infected</string>
		<key>SubmitInfectedKeys</key>
		<string>submit</string>
		<key>Authentication</key>
		<string>auth</string>
	</dict>
	<key>Authentication</key>
	<dict>
		<key>Type</key>
		<string>receipt</string>
	</dict>
</dict>
</plist>
